<h1>Tests#index</h1>
<p>Find me in app/views/tests/index.html.erb</p>

<%= file_upload_input "#upload",
                      data: {
                        url: "/teste/save",
                        type: "post",
                        data_type: "json"
                      },
                      change: {
                        append_to: "#teste",
                        template: "#template-loading"
                      } %>

<ul id="teste">
</ul>

